.area .card.type-status-card .face {
    --status-card-height: calc(var(--card-width) * 0.6376);

    min-width: var(--card-width);
    width: var(--card-width);
    max-width: var(--card-width);
    min-height: var(--status-card-height);
    height: var(--status-card-height);
    max-height: var(--status-card-height);
    top: calc((var(--card-height) - var(--status-card-height)) * .5);
    bottom: auto;
    overflow: visible;
}

.area .card.type-status-card:not(.moving).gain-status .face {
    animation: gain-status-card-animation .4s ease-out;
}

@keyframes gain-status-card-animation {
    0% {
        translate: calc(var(--card-width) * .5) 0;
    }
}

.area .card.type-status-card:hover .face {
    z-index: var(--z-index-card-hover-face-after) !important;
}

.area .card.type-status-card:not(.moving) {
    min-width: calc(var(--card-width) * .5);
    max-width: calc(var(--card-width) * .5);
}

.area .card.type-status-card.bind-card {
    --z: 0;
}

.area .card.type-status-card.bind-card:hover {
    --z: 2;
}
