/******************************************************************************
* Card attack scheme and thwart
*/
.card .face .image::after {
    background-blend-mode: color-burn;
}

.scheme .face,
.thwart .face,
.attack .face {
    rotate: 0deg !important;
}

.target_attack,
.attack .face .image::after {
    background-color: rgba(255, 0, 0, 0.42);
    --color: rgba(255, 0, 0, 0.42);
}

.target_thwart,
.thwart .face .image::after,
.scheme .face .image::after {
    background-color: rgba(0, 42, 255, 0.42);
    --color: rgba(0, 42, 255, 0.42);
}

.gain-status- .face .image::after {
    background-color: rgba(255, 166, 0, 0.252);
}
.gain-status-confuse .face .image::after {
    background-color: #5b325e9b;
}
.gain-status-stun .face .image::after {
    background-color: #e28c1d9b;
}
.gain-status-tough .face .image::after {
    background-color: #c4a9519b;
}

.scheme .face .image,
.thwart .face .image {
    --color1: rgb(19, 15, 255);
    --color2: rgb(24, 114, 249);
}

.attack .face .image {
    --color1: rgb(255, 15, 15);
    --color2: rgb(249, 76, 24);
}

#scene .card.attack-target .face .image {
    outline: 2px solid rgb(255, 45, 45);
    outline-offset: 2px;
    box-shadow:
        -1px -1px 10px 2px rgb(255, 15, 15),
        1px 1px 10px 2px rgb(249, 76, 24) !important;
}

.scheme .face .image,
.thwart .face .image,
.attack .face .image {
    box-shadow:
        -1px -1px 10px 2px var(--color1),
        1px 1px 10px 2px var(--color2) !important;
}

.dealt-encounter-card .face .image::after {
    background-blend-mode: color-burn;
    background-color: rgba(255, 166, 0, 0.7);
}

/*******************************************************************************/
/* exhaust
*/
.card.exhausted .face {
    --color-x2: rgba(0, 0, 0, 0.9);
    --color-x1: rgba(255, 255, 255, 0.1);
    rotate: -30deg;
}

.card.exhausted:hover .face {
    rotate: 0deg;
}

/*****************************************************************************
* Trait
*/
.card:has(.info .treat_as_if_blank) .face .image::before{
    filter: grayscale(100%) brightness(.5);
}

#area-villain .card.type-encounter-villain:has(.info .t_giant) .face .image,
#player-all-area-hero .card.type-hero:has(.info .t_giant) .face .image {
    width: var(--card-height);
    height: calc(var(--card-width) * 2);
    left: calc((var(--card-height) - var(--card-width)) / -2);
    top: calc((var(--card-width) * 2 - var(--card-height)) / -2);
}

#area-villain .card.type-encounter-villain:has(.info .t_giant) .face .image::before,
#player-all-area-hero .card.type-hero:has(.info .t_giant) .face .image:before {
    width: var(--card-height);
    height: calc(var(--card-width) * 2);
}

#player-all-area-hero .card.type-hero:has(.info .archangel) .face .image {
    width: calc(var(--card-width) * 2);
    height: var(--card-height);

    left: calc(var(--card-width) * -.5);
}

#player-all-area-hero .card.type-hero:has(.info .archangel) .face .image::before {
    width: var(--card-height);
    height: calc(var(--card-width) * 2);
}

#area-villain .card.type-encounter-villain:has(.info .t_giant),
#player-all-area-hero .card.type-hero:has(.info .t_giant) {
    margin-right: calc((var(--card-height) - var(--card-width)) * .5);
    margin-left: calc((var(--card-height) - var(--card-width)) * .5);
}

#player-all-area-hero .card.type-hero:has(.info .archangel) {
    --rotate-times: 1;
    margin-right: calc(var(--card-width) * .5);
    margin-left: calc(var(--card-width) * .5);
}

.type-ally:has(.info .t_aerial):not(.flipping):not(.facedown) .face .image,
.type-encounter-villain:has(.info .t_aerial):not(.flipping):not(.facedown) .face .image,
.type-minion:has(.info .t_aerial):not(.flipping):not(.facedown) .face .image,
.type-hero:has(.info .t_aerial):not(.flipping):not(.facedown) .face .image {
    animation: aerial-animation calc(var(--anime-time) * 15) linear infinite;
}

@keyframes aerial-animation {
    100%,0% {
        box-shadow: 1.0px 2.1px 2.1px hsl(0deg 0% 0% / 0.47);
        transform: scale(1.1);
    }
    50% {
        box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);
        transform: scale(1);
    }
}

/*****************************************************************************
* Card move
*/
/* .card.shuffling {
    pointer-events: none;
} */

.card.card-disable-anime {
    transition: none !important;
}

/*****************************************************************************
* Flip
*/
.card.flipping .face .info_pay,
.card.flipping .face .info {
    display: none;
}
.card.flipping .face .image {
    overflow: hidden;
    animation-name: flipping-animation;
    animation-duration: var(--anime-time);
}

@keyframes flipping-animation {
    0% {width: 100%; margin: 0; scale: var(--this-scale);}
    50% {width: 0; margin: 0 50%; scale: calc(var(--this-scale) * 1.15);}
    100% {width: 100%; margin: 0; scale: var(--this-scale);}
}

/*****************************************************************************
* Shuffle
*/
.deck .card.shuffling .face {
    animation-name: shuffling-animation;
    animation-duration: var(--anime-shuffle-time);
}

/* @keyframes shuffling-animation {
    0% {rotate: -360deg;}
    10% {rotate: -360deg;}
    50% {rotate: calc((var(--rand) * 360deg) - 360deg);}
    90% {rotate: 0deg;}
    100% {rotate: 0deg;}
} */

@keyframes shuffling-animation {
    0% {rotate: 0;}
    10% {rotate: calc((var(--rand) * 720deg) - 360deg);}
    90% {rotate: 0deg;}
    /* 100% {rotate: 0deg;} */
}

.deck:hover .card.shuffling .face {
    animation-duration: 0s;
}

/******************************************************************************
* Hide
*/
.card.hide {
    display: none !important;
}

.deck .card.facedown .face .info,
.area:not(#player-all-hand-cards) .card.facedown .face .info {
    display: none !important;
}

.card .face:has(.image .info_pay.has_pay) .info {
    display: none;
}
