.overlay {
    text-align: left;
    position: absolute;
}

body:not(.replaying) #replay-icon {
    display: none;
}

#skipping-icon,
body.replaying #replay-icon,
#pause-icon {
    color: red;
    font-size: calc(1.5 * var(--font-size));
    align-items: center;
    justify-content: center;
    display: flex;

    --text-shadow-color: #000;

    text-shadow: 2px 0 var(--text-shadow-color),
        -2px 0 var(--text-shadow-color),
        0 2px var(--text-shadow-color),
        0 -2px var(--text-shadow-color),
        1px 1px var(--text-shadow-color),
        -1px -1px var(--text-shadow-color),
        1px -1px var(--text-shadow-color),
        -1px 1px var(--text-shadow-color);
}

body:not(.pause) #pause-icon {
    display: none;
}

#pause-icon {
    color: dodgerblue;
}

#overlay-icon {
    --font-size: var(--font-size-out);
    left: calc(.5 * var(--font-size));
    top: calc(.5 * var(--font-size));
    position: absolute;

    display: flex;
    gap: calc(.5 * var(--font-size));
}

#version {
    color: #1a1a1a;
    --color2: #000;
    font-size: 1rem;
    right: 1rem;
    pointer-events: none;
    user-select: none;
    text-shadow: -1px -1px 0 var(--color2), 1px -1px 0 var(--color2), -1px 1px 0 var(--color2), 1px 1px 0 var(--color2);
    opacity: 0.4;
}

.lost-connect {
    --font-size: var(--font-size-out);
    font-size: calc(1 * var(--font-size));
    background-color: #17212b;
    color: #70848c;
    border: 1px solid #17212b;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    position: absolute;
    width: fit-content;
    bottom: 0;
}

.lost-connect a {
    color: #0056b3;
    text-decoration: underline;
    cursor: pointer;
}
