body:has(.lost-connect:not(.hide)) .card,
body.pause .card {
    filter: grayscale(.5);
}

body.game-over:has(.image-preview-div:not(.hide)) #prompt-box-container {
    opacity: 0 !important;
    animation: none;
    transition: none;
}

#prompt-box-close,
#prompt-box-lock {
    --size: calc(.9 * var(--font-size-out));
    width: var(--size);
    height: var(--size);
    line-height: var(--size);
    font-size: var(--size);
}

#prompt-box-lock {
    position: absolute;
    right: 0;
    bottom: 0;
    pointer-events: all;
    color: transparent;
    cursor: pointer;
    transition: color 0.3s;
}

#prompt-box-lock * {
    pointer-events: none;
}

#prompt-box-lock.locked {
    color: #333;;
}

#prompt-box-lock:hover {
    color: #e79f00;
}

#prompt-box-lock:active {
    transform: scale(0.95); /* Slightly shrink on click */
}

#prompt-box-close {
    position: absolute;
    right: 0;
    top: 0;
    pointer-events: all;
    color: #333;
    cursor: pointer;
    transition: color 0.3s;
    /* background: red; */
    /* border: 1px red solid; */
}

#prompt-box-close:hover {
    color: red;
}

#prompt-box-close:active {
    transform: scale(0.95); /* Slightly shrink on click */
}

#prompt-box-container {
    position: absolute;
    top: 32%;
    /* left: 20%; */
    /* right: 20%; */
    padding: calc(.25 * var(--font-size-out)) var(--font-size-out);
    width: fit-content;
    min-width: 0;
    max-width: 60%;
    /* margin: 0 auto; */
    align-items: center;
    justify-content: center;
    user-select: none;
    font-size: calc(1 * var(--font-size-out));
    background-color: black;
    border: white solid 1px;
    text-align: center;
    word-break: normal;
    z-index: var(--z-index-prompt-text);
    opacity: 1;
    border-radius: calc(.25 * var(--font-size-out));
    overflow: hidden;

    /* pointer-events: none; */
}
#prompt-box-container:has(#prompt-box-lock.locked) {
    pointer-events: none;
}

#prompt-box-container.prompt-anime:has(#prompt-box-lock.locked) {
    transition: opacity 2s linear;
    opacity: .5;
}

#prompt-box-container.prompt-anime:not(:has(#prompt-box-lock.locked)) {
    transition: opacity 2s linear;
    opacity: 0;
}

#prompt-box-container.prompt-anime:hover {
    transition: none !important;
    opacity: 1 !important;
}

body.hold-alt #prompt-box-container {
    /* pointer-events: none; */
    display: none;
}

body.game-over #prompt-text {
    display: none;
}

#prompt-text:hover {
    animation-play-state: paused;
}

body.being-attacked #prompt-text {
    color: rgb(255, 70, 70);
}

/* #history-text .log-card::before,
#prompt-text .log-card::before {
    content: "[";
}

#history-text .log-card::after,
#prompt-text .log-card::after {
    content: "]";
} */

#prompt-text:has(img) {
    display: none;
}

body:has(#option-buttons .button) #prompt-box-container {
    top: 22%;
}

#prompt-text hr {
    width: 100%;
    margin: 5px 0;
    background: white;
    height: 1px;
}

/* #prompt-text.none-events {
    pointer-events: none;
} */

#prompt-text:hover {
    z-index: 999;
}

#prompt-box-container.display-none {
    display: none !important;
}
