/.vscode/**
/.venv/
**/*.pyc
/public/js/**/*.js
/public/js/**/*.js.map
/assets/*
!/assets/textures/
!/assets/textures/**
/save_*.json
/crash.json
/crash.log
/statistics.json
/deck/*.json
/deck/user-decks/
/replays/
/tasks/
/rules/
/.coverage
/coverage.xml
/htmlcov/
/test_results.txt
